.add-moment-button{
    cursor: pointer;
}

.add-moment-button:hover{
    border-bottom: 1px solid red;
}

.button-repeat{
display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-menu{
    width: 100%;
}

/* .repeat-action{
    display: none;
} */

.input-group{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.input-group input {
    position:relative;
    width: 100%;
    z-index: 3;
}

.input-group span {
    position: absolute;
    right: 5%;
    top: 15%;
    z-index: 4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}