<form [formGroup]="alarmForm">
  <h1>Tao lich tao lich</h1>
  <div class="form-group">
    <label class="control-label">Tên sự kiện</label>
    <input
      formControlName="eventName"
      placeholder="Nhập tên sự kiện"
      type="text"
      class="form-control"
    />
  </div>

  <div class="form-group form-row">
    <div class="col-md-6">
      <input
        type="text"
        placeholder="Chọn ngày đi ạ"
        class="form-control mt-5"
        bsDatepicker
      />
    </div>
    <div class="col-md-6">
      <h3>Chọn thời gian</h3>
      <div class="mb-5" *ngFor="let moment of numberOfMoment">
        <label class="control-label"
          >Thời điểm {{ numberOfMoment.indexOf(moment) + 1 }}</label
        >
        <timepicker
          formControlName="formTime"
          [showSeconds]="showSec"
        ></timepicker>
      </div>
      <span class="add-moment-button" (click)="addMoment()"
        >Thêm thời điểm</span
      >
    </div>
  </div>

  <div class="from-group">
    <label class="radio-inline mr-4">
      <input
        (click)="turnOffRepeatUi()"
        class="mr-2"
        type="radio"
        value="false"
        formControlName="repeat"
        checked
      >Không lặp lại
    </label>
    <label class="radio-inline mr-4">
      <input
        (click)="turnOnRepeatUi()"
        class="mr-2"
        type="radio"
        value="true"
        formControlName="repeat"
      >Lặp lại
    </label>
  </div>

  <div *ngIf="repeatUi" class="row mb-5 select-custom">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="btn-group button-repeat" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          Lặp lại <span class="caret"></span>
        </button>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem">
            <label for="repeat-time" class="btn btn-primary dropdown-item">
              Theo thời gian
              <input
                (click)="openModal(template)"
                id="repeat-time"
                class="repeat-action"
                type="radio"
                formControlName="repeatAction"
                name="repeatAction"
                value="time"
              />
            </label>
          </li>
          <li role="menuitem">
            <label for="repeat-daily" class="btn btn-primary dropdown-item">
              Hàng ngày
              <input
                id="repeat-daily"
                class="repeat-action"
                type="radio"
                formControlName="repeatAction"
                name="repeatAction"
                value="daily"
              />
            </label>
          </li>
          <li role="menuitem">
            <label for="repeat-weekly" class="btn btn-primary dropdown-item">
              Hàng tuần
              <input
                id="repeat-weekly"
                class="repeat-action"
                type="radio"
                formControlName="repeatAction"
                name="repeatAction"
                value="weekly"
              />
            </label>
          </li>
          <li role="menuitem">
            <label for="repeat-twoWeek" class="btn btn-primary dropdown-item">
              Hai tuần một lần
              <input
                id="repeat-twoWeek"
                class="repeat-action"
                type="radio"
                formControlName="repeatAction"
                name="repeatAction"
                value="twoWeek"
              />
            </label>
          </li>
          <li role="menuitem">
            <label for="repeat-mothly" class="btn btn-primary dropdown-item">
              Hàng tháng
              <input
                id="repeat-monthly"
                class="repeat-action"
                type="radio"
                name="repeatAction"
                formControlName="repeatAction"
                value="monthly"
              />
            </label>
          </li>
          <li role="menuitem">
            <label for="repeat-custom" class="btn btn-primary dropdown-item">
              Tùy chỉnh
              <input
                (click)="openModal(template2)"
                id="repeat-custom"
                class="repeat-action"
                type="radio"
                formControlName="repeatAction"
                name="repeatAction"
                value="custom"
              />
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <!-- Modal cho lặp lại theo thời gian -->
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Lặp lại theo thời gian</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body form-group mt-3">
      <div class="row">
        Sau này sửa thành giống cái spinner của timepicker cho đẹp
      </div>
      <div class="form-inline mt-2">
        <div class="col">
          <span>Mỗi</span>
          <input
            class="form-control"
            type="number"
            formControlName="repeatHour"
          />
          <span>giờ</span>
        </div>
        <div class="col">
          <span>Mỗi</span>
          <input
            class="form-control"
            type="number"
            formControlName="repeatMinute"
          />
          <span>phút</span>
        </div>
        <div class="col">
          <span>Mỗi</span>
          <input
            class="form-control"
            type="number"
            formControlName="repeatSecond"
          />
          <span>giây</span>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Modal cho các loại tùy chỉnh -->
  <ng-template #template2>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Tùy chỉnh</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">Tần suất</div>
        <div class="col-md-6">
          <div class="btn-group button-repeat" dropdown>
            <button
              id="button-basic"
              dropdownToggle
              type="button"
              class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic"
            >
              Chọn tần suất <span class="caret"></span>
            </button>
            <ul
              id="dropdown-basic"
              *dropdownMenu
              class="dropdown-menu"
              role="menu"
              aria-labelledby="button-basic"
            >
              <li role="menuitem">
                <label for="custom-daily" class="btn btn-primary dropdown-item">
                  Hàng ngày
                  <input
                    (change)="switchCustomUi()"
                    id="custom-daily"
                    class="repeat-action"
                    type="radio"
                    formControlName="customRepeat"
                    name="customRepeat"
                    value="daily"
                  />
                </label>
              </li>
              <li role="menuitem">
                <label
                  for="custom-weekly"
                  class="btn btn-primary dropdown-item"
                >
                  Hàng tuần
                  <input
                    (change)="switchCustomUi()"
                    id="custom-weekly"
                    class="repeat-action"
                    type="radio"
                    formControlName="customRepeat"
                    name="customRepeat"
                    value="weekly"
                  />
                </label>
              </li>
              <li role="menuitem">
                <label
                  for="custom-monthly"
                  class="btn btn-primary dropdown-item"
                >
                  Hàng tháng
                  <input
                    (change)="switchCustomUi()"
                    id="custom-monthly"
                    class="repeat-action"
                    type="radio"
                    formControlName="customRepeat"
                    name="customRepeat"
                    value="monthly"
                  />
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-3" [ngSwitch]="customRepeatUi">
        <ng-container *ngSwitchCase="'daily'">
          <div class="col-md-6">Cứ</div>
          <div class="col-md-6 input-group">
            <input
              class="form-control"
              type="number"
              formControlName="repeatDay"
            />
            <span>ngày</span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'weekly'">
          <div class="col-md-6">Cứ</div>
          <div class="col-md-6">
            <div class="row input-group">
              <input
                class="form-control"
                type="number"
                formControlName="repeatWeek"
              />
              <span>tuần</span>
            </div>
            <div class="mt-2 ml-2 row">
              <div class="col">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="inlineCheckbox1"
                  value="Monday"
                />
                <label class="form-check-label" for="inlineCheckbox1"
                  >Thứ hai</label
                >
              </div>
              <div class="col">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="inlineCheckbox2"
                  value="Tuesday"
                />
                <label class="form-check-label" for="inlineCheckbox2"
                  >Thứ ba</label
                >
              </div>
              <div class="col">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="inlineCheckbox3"
                  value="Wednesday"
                />
                <label class="form-check-label" for="inlineCheckbox3"
                  >Thứ tư</label
                >
              </div>
            </div>
            <div class="mt-2 ml-2 row">
              <div class="col">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="inlineCheckbox4"
                  value="Thursday"
                />
                <label class="form-check-label" for="inlineCheckbox4"
                  >Thứ năm</label
                >
              </div>
              <div class="col">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="inlineCheckbox5"
                  value="Friday"
                />
                <label class="form-check-label" for="inlineCheckbox5"
                  >Thứ sáu</label
                >
              </div>
              <div class="col">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="inlineCheckbox1"
                  value="Saturday"
                />
                <label class="form-check-label" for="inlineCheckbox6"
                  >Thứ bảy</label
                >
              </div>
            </div>
            <div class="mt-2 ml-2 row">
              <div class="col">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="inlineCheckbox1"
                  value="Sunday"
                />
                <label class="form-check-label" for="inlineCheckbox7"
                  >Chủ nhật</label
                >
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'monthly'">
          <div class="col-md-6">Cứ</div>
          <div class="col-md-6">
            <div class="row input-group">
              <input
                class="form-control"
                type="number"
                formControlName="repeatMonth"
              />
              <span>tháng</span>
            </div>
            <div class="mt-2">
              Chọn các ngày trong tháng
              <table class="table text-center custom-datepicker">
                <tbody>
                  <tr>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="1" />
                      <span>1</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="2" />
                      <span>2</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="3" />
                      <span>3</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="4" />
                      <span>4</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="5" />
                      <span>5</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="6" />
                      <span>6</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="7" />
                      <span>7</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="8" />
                      <span>8</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="9" />
                      <span>9</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="10" />
                      <span>10</span>
                    </td>
                  </tr>
                  <tr>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="11" />
                      <span>11</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="12" />
                      <span>12</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="13" />
                      <span>13</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="14" />
                      <span>14</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="15" />
                      <span>15</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="16" />
                      <span>16</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="17" />
                      <span>17</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="18" />
                      <span>18</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="19" />
                      <span>19</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="20" />
                      <span>20</span>
                    </td>
                  </tr>
                  <tr>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="21" />
                      <span>21</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="22" />
                      <span>22</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="23" />
                      <span>23</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="24" />
                      <span>24</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="25" />
                      <span>25</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="26" />
                      <span>26</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="27" />
                      <span>27</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="28" />
                      <span>28</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="29" />
                      <span>29</span>
                    </td>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="30" />
                      <span>30</span>
                    </td>
                  </tr>
                  <tr>
                    <td (click)="testEvent($event)">
                      <input type="checkbox" name="dayOfMonth" value="31" />
                      <span>31</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-template>

  <p>Sau này sẽ là cái nhắc lại trước khi submit</p>
  <pre
    class="alert alert-info"
  >Time is: {{myTime}}<br>showMinutes: {{showMin}}<br>showSeconds: {{showSec}}</pre>
</form>
