<form [formGroup]="alarmForm">
  <h1>Tao lich tao lich</h1>
  <div class="form-group">
    <label class="control-label">Tên sự kiện</label>
    <input
      formControlName="eventName"
      placeholder="Nhập tên sự kiện"
      type="text"
      class="form-control"
    />
  </div>

  <div class="form-group form-row">
    <div class="col-md-6">
      <input
        type="text"
        placeholder="Chọn ngày đi ạ"
        class="form-control mt-5"
        bsDatepicker
      />
    </div>
    <div class="col-md-6">
      <h3>Chọn thời gian</h3>
      <div class="mb-5" *ngFor="let moment of numberOfMoment">
        <label class="control-label"
          >Thời điểm {{ numberOfMoment.indexOf(moment) + 1 }}</label
        >
        <timepicker
          formControlName="formTime"
          [showSeconds]="showSec"
        ></timepicker>
      </div>
      <span class="add-moment-button" (click)="addMoment()"
        >Thêm thời điểm</span
      >
    </div>
  </div>

  <div class="from-group">
    <label class="radio-inline mr-4">
      <input
        (click)="turnOffRepeatUi()"
        class="mr-2"
        type="radio"
        value="false"
        formControlName="repeat"
        checked="checked"
      />Không lặp lại
    </label>
    <label class="radio-inline mr-4">
      <input
        (click)="turnOnRepeatUi()"
        class="mr-2"
        type="radio"
        value="true"
        formControlName="repeat"
      />Lặp lại
    </label>
  </div>

  <!-- Lặp lại giờ phút giây -->
  <div *ngIf="repeatUi" class="form-group mt-3">
    <div class="row">
      Sau này sửa thành giống cái spinner của timepicker cho đẹp
    </div>
    <div class="form-inline mt-2">
      <div class="col row">
        Mỗi
        <input
          class="form-control"
          type="number"
          formControlName="repeatHour"
        />
        giờ
      </div>
      <div class="col row">
        Mỗi
        <input
          class="form-control"
          type="number"
          formControlName="repeatMinute"
        />
        phút
      </div>
      <div class="col row">
        Mỗi
        <input
          class="form-control"
          type="number"
          formControlName="repeatSecond"
        />
        giây
      </div>
    </div>
  </div>

  <!-- Lặp lại theo ngày -->
  <div *ngIf="repeatUi" class="form-group mt-3">
    <div class="row">
      <h3>Lặp lại theo ngày</h3>
    </div>
    <div class="form-inline mt-2">
      <div class="col row">
        <span>Không lặp</span>
        <input
          class="ml-2 mt-2"
          type="radio"
          value="false"
          formControlName="repeatDay"
        />
      </div>
      <div class="col row">
        <span>Hàng ngày</span>
        <input
          class="ml-2 mt-2"
          type="radio"
          value="1"
          formControlName="repeatDay"
        />
      </div>
      <div class="col row">
        <span>Mỗi</span>
        <input class="form-control" type="number" formControlName="repeatDay" />
        <span>ngày</span>
      </div>
    </div>
  </div>
  <div *ngIf="repeatUi" class="row mb-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="btn-group button-repeat" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          Lặp lại <span class="caret"></span>
        </button>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem"><a class="dropdown-item" href="#">Theo thời gian</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Hàng ngày</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Hàng tuần</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Hai tuần một lần</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Hàng tháng</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <pre
    class="alert alert-info"
  >Time is: {{myTime}}<br>showMinutes: {{showMin}}<br>showSeconds: {{showSec}}</pre>
</form>
